@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

html {
    background: url(img/Interstellar.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

    animation: zoom 0.15s infinite;
}
@keyframes zoom {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 400% 400%;
    }
}
body {
    color: white;
    font-family: "Orbitron", sans-serif;
}

.title {
    text-align: center;
    font-size: 2rem;
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    color: #800080;
}
.sub-title {
    text-align: center;
    font-size: 3rem;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
    color: #a0522d;
}

.weapons-img {
    max-width: 150px;
    border-radius: 20px;
    border-radius: 100%;
}
.players-img {
    max-width: 150px;
    border-radius: 100%;
}

.copyright {
    text-align: center;
}
.head-card > p {
    margin-top: 10px;
    font-size: 1.3rem;
}

.weapons-title {
    font-size: 1.5rem;
}

.player-score,
.computer-score {
    color: yellow;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
#restart {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: blue;
    border: transparent;
    color: white;
    margin-top: auto;
    margin-bottom: 10px;
}

.players-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.rules {
    color: red;
}
.rock {
    color: #4b4b4b;
    background-color: rgb(211, 211, 211);
}
.paper {
    color: #ffffe0;
    background-color: rgba(70, 131, 180);
}
.scissors {
    color: #add8e6;
    background-color: rgba(137, 43, 226);
}

.head-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    margin: 10px;
}

.vs-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust the width as needed */
}

.vs-text {
    font-size: 1.5rem; /* Adjust the font size as needed */
    margin: 0;
}

.battle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    border-radius: 50px;
}
.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 350px;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
}

.choice-text {
    text-align: center;
    font-size: 2rem;
    color: deeppink;
}
.bottom-wrapper {
    text-align: center;
}

@media (max-width: 650px) {
    .players-wrapper {
        flex-wrap: ;
        align-items: center;
        text-align: center;
    }

    .head-card > p {
        margin: 10px 0;
        font-size: 0.8rem;
    }

    .title {
        font-size: 1rem;
    }
    .sub-title {
        font-size: 1.2rem;
    }
    .choice-text {
        font-size: 1rem;
    }

    .players-img {
        max-width: 120px;
    }

    .element-container {
        max-width: 100%;
    }
    .bottom-wrapper {
        text-align: center;
    }
    .element {
        max-width: 80%;
    }

    .battle {
        gap: 5px;
    }

    .weapon-btn {
        max-width: 100px;
        max-height: 100px;
        font-size: 1rem;
    }

    .weapon-text,
    .weapons-title {
        display: none;
    }

    .vs-card {
        width: 30px;
    }

    .vs-text {
        font-size: 1rem;
    }

    .weapons-img {
        max-width: 100%;
    }
}
.weapon-btn {
    border-radius: 90%;
    background-color: red;
    cursor: pointer;
}

.footer {
    margin-top: auto;
}
.choice-result {
    color: aqua;
}

.winner {
    font-size: 2rem;
    color: greenyellow;
}

@keyframes shrink {
    0% {
        background-size: 110% 110%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
}
.slide-in-bck-center {
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s both;
}
.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s both;
}
.slide-in-elliptic-top-fwd {
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 6s both;
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 6s both;
}
.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out 7s both;
    animation: roll-in-left 0.6s ease-out 7s both;
}
.roll-in-bottom {
    -webkit-animation: roll-in-bottom 0.6s ease-out 8s both;
    animation: roll-in-bottom 0.6s ease-out 8s both;
}
.roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out 9s both;
    animation: roll-in-right 0.6s ease-out 9s both;
}
.tracking-in-expand-fwd-bottom {
    -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 10s both;
    animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 10s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-25 14:5:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * animation roll-in-bottom
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */ /**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */ /**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(500px);
        transform: translateZ(-700px) translateY(500px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes tracking-in-expand-fwd-bottom {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(500px);
        transform: translateZ(-700px) translateY(500px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes roll-in-bottom {
    0% {
        -webkit-transform: translateY(800px) rotate(540deg);
        transform: translateY(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-bottom {
    0% {
        -webkit-transform: translateY(800px) rotate(540deg);
        transform: translateY(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}
@keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
